@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-texto: #333333;      /* Cor do texto */
    --fonte-titulo: 'Inter';
    --fonte-sub-titulo: 'Roboto';
    --fonte-texto: 'lato';
}

* {   
    margin: 0;          /* O * serve pra zerar a pagina, o layout*/ 
    padding: 0;             
    box-sizing: border-box;
    font-family: "Lato", serif;
}

fieldset {
    border: none;
}

legend {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-family: var(--fonte-titulo);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   /*Meio que é o minimo de altura que le vai ter é 100vh no caso toda a tela*/ 
    background: url('./6a11401925083aa82b0f966846811632.jpg');
    background-size: cover; /* size serve pra esticar a tela toda*/
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 10px;
    color: #f2f2f2;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    backdrop-filter: blur(50px);
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input { 
    width: 100%;
    height: 100%;
    background-color: transparent; /* com o color transparent, podemos fazer alguns efeitos por isso a escolha dele*/
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    outline: none; /*Tirei outline porque acho horrivel aquela linha dentro da caixa*/
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {  /*Serve para alterar dentro da box por exemplo o campo email e senha*/  
    color: #fff;
}

.input-box i { /* Vai fazer alteração no icone*/
    position: absolute;
    right: 20px;
    top: 26%;
    font-size: 20px;
}

.remember-forgot {
    display: flex;   /*Utilizada para criar layouts flexíveis e responsivos de forma simples*/
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color:#fff;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover {
    text-decoration: underline; /*Ação de movimentação com o mouse*/ 
}

.login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    margin-top: 20px;
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgba(255,255,255, .2);
    color: #fff;
    transition: 0.5s;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}